:root {
/* Colors */

    /* primary color */
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    /*  */

    /* neutral color */
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
    /*  */

/* end */

/* Typography */

    /* body */
    font-size: 16px;
    /*  */

    /* fonts */
    font-family: [Young Serif];
    font-weight: 400;
    font-family: [Outfit];
    font-weight: 400, 600, 700;
    font-family: [Young Serif];
    font-weight: 400;
    /*  */

/* end */

/* Layout */

    /*  esto es basicamente los anchos que hay que respetar para la verson del movil y del ordenador
        -Mobile: 375px
        -Desktop: 1440px */

/* end */
}

/* Tipologia de letra */

@font-face {
    font-family: "Young-serif";
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}
@font-face {
    font-family: "Outfit";
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

/* fin */

/* Color de fondo secundario */

.background-color-sec {
    background-color: var(--White);
    margin: 0 auto;
    border-radius: 2%;
    width: 97%;
    max-width: 1000px;
}

/* end */

/* Imagen de la tortilla */

.img-tortilla {
    border-radius: 2%;
    width: 100%;
    margin-bottom: 1rem;
}

/* fin */

body {
    box-sizing: content-box;
    background-color: var(--Eggshell);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Titulo*/

header h1 {
    font-family: Young-serif;
    padding-left: 2rem;
}

/* fin */

.main-body {
    font-family: Outfit;
    font-size: 16px;
    padding: 3rem;
}

.p1 {
    word-spacing: 0.25em;
    line-height: 25px;
}

/* Recuadro rosa de "preparation time" */

.recuadro-rosa{
    background-color: var(--Rose-White);
    border-radius: 3%;
    padding: 1rem 1rem 1rem 1rem;
}
h3 {
    color: var(--Dark-Raspberry);
    padding-left: 2rem;
}
li {
    color: var(--Dark-Charcoal);
}
ul {
    word-spacing: 0.25em;
    line-height: 25px;
}

/* fin */

/* Ingredients */

h2 {
    color: var(--Nutmeg);
    font-family: Young-serif;
    font-weight: lighter;
    padding-left: 2rem;
}
.ul-2 {
    word-spacing: 0.25em;
    line-height: 25px;
    padding-left: 3rem;
}

/* Fin */

hr {
    background-color: var(--Wenge-Brown);
    height: .1px;
}

/* Instructions */

ol {
    word-spacing: 0.25em;
    line-height: 25px;
    padding-left: 3rem;
}

/* fin */

/* Nutrition (que es un recuadro o tabla) */

p {
    word-spacing: 0.25em;
    line-height: 25px;
    padding-left: 2rem;
}
.content-table { 
    margin: 1rem auto;
    font-size: 16px; 
    font-family: Outfit; 
    min-width: 90%;
    max-width: 90%;
}
.content-table th, td {
    padding: 12px 15px;
    border-bottom: .1px solid var(--Wenge-Brown);

}
.b1 {
    color: var(--Dark-Raspberry);
}

/* fin */

/* pie de pagina */

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* fin */